# Copyright (c) 2023-present The Bitcoin Core developers
# Distributed under the MIT software license, see the accompanying
# file COPYING or https://opensource.org/license/mit.

name: CI
on:
  pull_request:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

concurrency:
  group: ${{ github.event_name != 'pull_request' && github.run_id || github.ref }}
  cancel-in-progress: true

env:
  CI_FAILFAST_TEST_LEAVE_DANGLING: 1

defaults:
  run:
    shell: bash

jobs:
  previous-releases:
    name: 'previous releases - single test'
    runs-on: ubuntu-24.04
    timeout-minutes: 60

    env:
      DANGER_CI_ON_HOST_FOLDERS: 1
      FILE_ENV: './ci/test/00_setup_env_native_previous_releases.sh'

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure environment
        uses: ./.github/actions/configure-environment

      - name: Restore caches
        uses: ./.github/actions/restore-caches

      - name: Configure Docker
        uses: ./.github/actions/configure-docker
        with:
          cache-provider: 'gha'

      - name: CI script
        run: ./ci/test_run_all.sh

      - name: Save caches
        uses: ./.github/actions/save-caches
