name: CI
on:
  pull_request:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

concurrency:
  group: ${{ github.event_name != 'pull_request' && github.run_id || github.ref }}
  cancel-in-progress: true

env:
  CI_FAILFAST_TEST_LEAVE_DANGLING: 1
  CIRRUS_CACHE_HOST: http://127.0.0.1:12321/
  REPO_USE_CIRRUS_RUNNERS: 'bitcoin/bitcoin'

defaults:
  run:
    shell: bash

jobs:
  runners:
    name: 'determine runners'
    runs-on: ubuntu-latest
    outputs:
      provider: ${{ steps.runners.outputs.provider }}
    steps:
      - id: runners
        run: |
          if [[ "${REPO_USE_CIRRUS_RUNNERS}" == "${{ github.repository }}" ]]; then
            echo "provider=cirrus" >> "$GITHUB_OUTPUT"
          else
            echo "provider=gha" >> "$GITHUB_OUTPUT"
          fi

  previous-releases:
    name: 'previous releases'
    needs: runners
    runs-on: ${{ needs.runners.outputs.provider == 'cirrus' && 'ghcr.io/cirruslabs/ubuntu-runner-amd64:24.04-md' || 'ubuntu-24.04' }}
    timeout-minutes: 120

    env:
      DANGER_CI_ON_HOST_FOLDERS: 1
      FILE_ENV: './ci/test/00_setup_env_native_previous_releases.sh'
      TEST_RUNNER_EXTRA: '--filter feature_coinstatsindex_compatibility'

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event_name == 'pull_request' && github.ref || '' }}

      - name: Configure environment
        uses: ./.github/actions/configure-environment

      - name: Restore caches
        id: restore-cache
        uses: ./.github/actions/restore-caches

      - name: Configure Docker
        uses: ./.github/actions/configure-docker
        with:
          cache-provider: ${{ needs.runners.outputs.provider }}

      - name: CI script
        run: ./ci/test_run_all.sh

      - name: Save caches
        uses: ./.github/actions/save-caches
